  <%= simple_form_for [game, location] do |f| %>
    <%= f.input :name %>
    <%= f.input :start, as: :date, html5: true %>
    <%= f.input :end, as: :date, html5: true %>
    <div class="d-flex justify-content-center">
      <%= f.submit "Louer", class: "btn btn-primary px-5" %>
    </div>
  <% end %>
