<div class="container">
  <h1 class="text-center pt-5 fw-bold"><%= @game.name %></h1>
    <div class="d-flex justify-content-end">
      <%= link_to "Louez le jeu", new_game_location_path(@game), class:"btn btn-success mx-2 mb-2" %>
      <% if current_user == @game.user %>
      <%= link_to "Modifier", edit_game_path(@game), class:"btn btn-primary mx-2 mb-2" %>
      <% end %>
    </div>
  <div class="d-flex justify-content-center">
    <div class="w-75">
      <div class="rounded shadow p-3 bg-light">
        <%= cl_image_tag @game.picture.key, crop: :fill, class:"img-fluid" %>
        <p><%= @game.description %></p>
      </div>
    </div>
  </div>
